* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body style*/
body {
  background-color: lightcoral;
  background-image: url(pics.png);
}
/* main style*/
main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* content style*/
.content {
  padding: 2em;
  color: white;
  display: vertical;
}
/* content and h1 style*/
.content h1 {
  font-weight: bolder;
}
/* content and h5 style*/
.content h5 {
  display: vertical-text;
}
/* formpage and p style*/
.FormPage p {
  background-color: purple;
  padding: 1em;
  border: 1px;
  color: white;
}
/* formpage p and i  style*/
FormPage p i {
  font-weight: smaller;
}
/* form style*/
.form {
  background-color: white;
}
/* form and input style*/
.form input {
  padding: 1em;
  width: 82%;
  margin: 15px;
}
/* form button style*/
.form button {
  background-color: green;
  padding: 1em;
  width: 82%;
  margin: 15px;
  border: solid 1px;
  color: white;
}
/* span style*/
span {
  color: red;
}
/* form footer style*/
.FormFooter {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 1px;
}
/* form footer and h6 style*/
.FormFooter h6 {
  margin: 15px;
}

/* media query*/
@media screen and (max-width: 992px) {
  
}